.additionally {
  padding: 0 20px 34px;
  border: 0;

  @media (min-width: @tablet-width) {
    padding: 0 70px 54px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.additionally__title {
  margin: 0 0 34px;
  padding-right: 23px;

  @media (min-width: @tablet-width) {
    margin: 0 0 57px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 62px;
  }
}

.additionally__list {
  margin: 0;
  padding: 0 20px;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(221px, 1fr));
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 66px;
  }
}

.additionally__item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.additionally__mark {
  margin-right: 18px;
}

.additionally__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
