.advantages {
  padding: 0 20px 0;

  @media (min-width: @tablet-width) {
    padding: 0 30px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 82px 40px 0;
  }
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.advantages__item {
  padding: 30px 20px 18px;
  background-color: #f2f2f2;

  @media (min-width: @desktop-width) {
    width: 570px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: @tablet-width) {
      margin-bottom: 30px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }

  &--cat-slim {
    background-image: url("../img/cat-slim.svg");
    background-repeat: no-repeat;
    background-position: 22px 21px;

    @media (min-width: @tablet-width) {
      background-position: 88% 50%;
      background-size: 200px 211px;
    }

    @media (min-width: @desktop-width) {
      background-position: 52px 41px;
      background-size: 100px 106px;
    }
  }

  &--cat-pro {
    background-image: url("../img/cat-pro.svg");
    background-repeat: no-repeat;
    background-position: 13px 24px;

    @media (min-width: @tablet-width) {
      background-position: 93% 52%;
      background-size: 268px 200px;
    }

    @media (min-width: @desktop-width) {
      background-position: 33px 47px;
      background-size: 134px 100px;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 77px 316px 56px 52px;
  }

  @media (min-width: @desktop-width) {
    padding: 77px 52px 58px;
  }
}

.advantages__title {
  margin: 0 0 29px 71px;
  font-size: 24px;
  line-height: 37px;
  font-weight: inherit;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: @tablet-width) {
    margin: 0 0 26px 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 76px 162px;
  }
}

.advantages__description {
  margin-bottom: 10px;
  padding-bottom: 21px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 25px;
    padding-bottom: 0;
  }
}

.advantages__link {
  position: relative;
  padding: 4px 49px 4px 0;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  &::before {
    content: "";
    position: absolute;
    right: 9px;
    top: 10px;
    display: block;
    width: 23px;
    height: 12px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 32px 12px;
  }

  &:hover::before {
    right: 0;
    width: 32px;
  }

  @media (min-width: @tablet-width) {
    padding: 4px 60px 4px 0;
    font-size: 20px;
    line-height: 30px;
  }
}
