.catalog-promo {
  padding: 0 20px 0;
}

.catalog-promo__container {
  min-height: 289px;
  padding: 187px 61px 43px 58px;
  background: linear-gradient(to left, fade(@base-color, 85%), fade(@base-color, 85%)), url("../img/catalog-promo-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.catalog-promo__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
