.contacts {
  padding: 26px 20px;
}

.contacts__description {
  display: flex;
}

.contacts__text {
  display: block;
  width: 50%;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  display: block;
  width: 50%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
