.developer__link-text {
  display: block;
  margin-right: 22px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-decoration: none;
}

.developer__link-logo {
  display: block;

  & svg {
    display: block;
    color: #666666;
  }

  &:hover svg {
    color: @base-color;
  }
}
