.features {
  padding: 22px 0 48px;

  @media (min-width: @tablet-width) {
    padding: 46px 0 46px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: @desktop-width) {
    padding: 71px 0 26px;
    border-bottom: 0;
  }
}

.features__container {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1300px;
    padding: 0 40px;
  }
}

.features__title {
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: features;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    row-gap: 33px;
    column-gap: 58px;
  }

  @media (min-width: @desktop-width) {
    column-gap: 80px;
  }
}

.features__item {
  position: relative;
  display: flex;
  align-items: flex-start;
  min-height: 60px;
  padding-left: 80px;
  counter-increment: features;

  @media (max-width: @mobile-width-only) {
    & br {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: @base-color;
    background-image: url("../img/leaf.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: @tablet-width) {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }

  &--powder::before {
    background-image: url("../img/powder.svg");
  }

  &--eat::before {
    background-image: url("../img/eat.svg");
  }

  &--time::before {
    background-image: url("../img/time.svg");
  }

  @media (min-width: @tablet-width) {
    padding: 153px 0 57px;

    &--leaf {
      width: 230px;
      padding-right: 29px;
    }

    &--powder {
      width: 246px;
      padding-right: 19px;
    }

    &--eat {
      width: 247px;
      padding-right: 38px;
    }

    &--time {
      width: 249px;
    }

    &::after {
      content: counter(features);
      position: absolute;
      top: 0;
      right: 0;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
      z-index: -1;
    }

    &--leaf::after {
      right: 7px;
    }
  }

  @media (max-width: @mobile-width-only) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.features__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
