.features {
  padding: 0 20px 0;
}

.features__title {
  margin-bottom: 40px;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features__item {
  padding-left: 80px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.features__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

