.field-contacts {
  padding: 0 20px 0;
  border: none;

  @media (min-width: @tablet-width) {
    padding: 0 35px 0 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0 40px 0 0;
  }
}

.field-contacts__title {
  width: 221px;
  margin-bottom: 35px;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: max-content;
    margin-bottom: 76px;
    padding: 0 42px 0 39px;
  }
}

.field-contacts__label {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: @tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
      margin-right: 78px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-left: 41px;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 1;
  }
}

.field-contacts__input {
  flex-grow: 1;
  margin: 0;
}
