.field-radio {
  padding: 22px 20px 19px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
}

.field-radio__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.field-radio__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.field-radio__mark {
  margin-right: 15px;
}
