.inner__products {
  @media (min-width: @tablet-width) {
    max-width: 768px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    max-width: 1440px;
  }
}


.inner__additional-products {
  @media (min-width: @tablet-width) {
    max-width: 768px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
  }
}
