.live-example {
  padding: 25px 20px 40px;
  background-color: #eaeaea;
}

.live-example__title {
  margin-bottom: 40px;
}

.live-example__description {
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.live-example__statistics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.live-example__costs {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

