.live-example {
  padding: 25px 20px 40px;
  background-color: #eaeaea;
}

.live-example__title {
  margin-bottom: 40px;
}

.live-example__description {
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.live-example__statistics {
  margin-bottom: 20px;
}

.live-example__costs {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.comparison-slider__bar {
  margin-top: 15px;
  text-align: center;
}

.statistics__term {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.statistics__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.comparison-slider__label {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}
