.live-example {
  padding: 25px 20px 41px;
  background-color: #eaeaea;

  @media (min-width: @tablet-width) {
    min-height: 1048px;
    padding: 43px 30px 56px;
    background: linear-gradient(to top, #eaeaea 462px, #ffffff 462px);
  }

  @media (min-width: @desktop-width) {
    min-height: 641px;
    padding: 43px 110px 65px;
  }
}

.live-example__container {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    max-width: 1220px;
    min-height: 566px;
    margin: 0 auto;
  }
}

.live-example__block-data {
  @media (min-width: @desktop-width) {
    max-width: 436px;
    margin: 0;
  }
}

.live-example__title {
  margin-bottom: 43px;

  @media (min-width: @desktop-width) {
    margin: 43px 0 146px;
  }
}

.live-example__description {
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
  }
}

.live-example__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    width: 436px;
    margin-bottom: 0;
  }
}

.live-example__statistics {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 34px;

  @media (min-width: @tablet-width) {
    width: 52%;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 366px;
    margin: 0 0 55px;
  }
}

.live-example__costs {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

  @media (min-width: @tablet-width) {
    width: 25%;
    margin: 20px 0 0;
    font-size: 20px;
    line-height: 20px;
    text-align: end;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    width: 436px;
    margin: 0;
  }
}

.live-example__costs-food {
  display: inline-block;

  @media (min-width: @desktop-width) {
    margin-right: 63px;
  }
}

.live-example__costs-value {
  display: inline-block;
}

.live-example__comparison-slider {
  text-align: center;
}
