.main-header__container {
  position: relative;
}

.main-header__logo-block {
  display: flex;
  padding: 10px 44px 17px 20px;
  border-bottom: 1px solid #e6e6e6;
}

.main-header__logo-block a:last-child {
  margin: auto;
}
