.navigation__list {
  position: absolute;
  top: 58px;
  left: 0;
  z-index: 2;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    position: static;
    display: flex;
    max-width: 640px;
    background-color: transparent;
  }
}

.navigation__item {
  text-align: center;
  border-top: 1px solid #e6e6e6;

  @media (min-width: @tablet-width) {
    border: 0;

    &:not(:last-child) {
      margin-right: 34px;
    }

    &--current {
      border-bottom: 2px solid @base-color;
    }
  }

  @media (min-width: @desktop-width) {
    &--current {
      border-bottom: 2px solid #ffffff;
    }
  }
}

.navigation__link {
  display: block;
  padding: 22px 0 24px;
  line-height: 20px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    padding: 15px 0 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
  }
}

.navigation__toggle {
  position: absolute;
  top: 22px;
  right: 20px;
  width: 24px;
  height: 18px;
  padding: 0;
  border: 0;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.navigation--closed .navigation__toggle-bar {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #000000;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: #000000;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: #000000;
  }
}

.navigation--opened .navigation__toggle-bar {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: @mobile-width-only) {
  .navigation--closed .navigation__list {
    display: none;
  }
}

.navigation--nojs .navigation__toggle {
  display: none;
}

.navigation--nojs .navigation__list {
  display: block;
}
