.page {
  height: 100%;
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
}

.page__header--index {
  @media (min-width: @desktop-width) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      min-width: 100%;
      min-height: 693px;
      background-image: linear-gradient(to right, #ffffff 50%, fade(@base-color, 85%) 50%), url("../img/main-promo-background-desktop.jpg");
      background-repeat: no-repeat;
      background-position: 100% 100%;
      background-size: auto;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, #ffffff 50%, fade(@base-color, 85%) 50%), url("../img/main-promo-background-desktop@2x.jpg");
        background-size: auto, 720px auto;
      }
    }

    .navigation__item--current {
      border-bottom: 2px solid #ffffff;
    }
  }
}
