.page-main__promo {
  position: relative;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: inherit;
  }

  @media (min-width: @desktop-width) {
    width: 1300px;
    margin: 0 auto;
  }
}

.page-main__advantages {
  @media (min-width: @desktop-width) {
    max-width: 1300px;
    margin: 0 auto;
  }
}

.page-main__features {
  @media (min-width: @desktop-width) {
    max-width: 1300px;
    margin: 0 auto;
  }
}
