.page {
  height: 100%;
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
}

.page__header--index {
  @media (min-width: @desktop-width) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 50%;
      display: block;
      min-width: 50%;
      min-height: 693px;
      background-image: url("../img/main-promo-background-desktop.jpg");
      background-repeat: no-repeat;
      background-position: 0;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/main-promo-background-desktop@2x.jpg");
      }
    }
  }
}

.page__header--index .navigation__item--current {
  @media (min-width: @desktop-width) {
    border-bottom: 2px solid #ffffff;
  }
}

.page__header--index .navigation__link {
  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}
