.products {
  padding: 27px 0 0;

  @media (min-width: @tablet-width) {
    position: relative;
    padding: 27px 30px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 27px 110px 0;
  }
}

.products__title {
  margin: 0 0 41px 20px;

  @media (min-width: @tablet-width) {
    margin: 0 0 82px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 84px;
  }
}

.products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    gap: 60px;
    border-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 63px;
    column-gap: 80px;
  }
}

.products__item {
  padding: 8px 0 11px;
  border-top: 1px solid #ebebeb;

  @media (min-width: @tablet-width) {
    width: 324px;
    border-top: 0;
    background-color: #f2f2f2;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

.products__show-more {
  padding: 0 20px 25px;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 324px;
    border: 2px solid #f2f2f2;
  }

  @media (min-width: @desktop-width) {
    right: 110px;
    width: 245px;

  }
}
