.promo {
  min-height: 480px;

  @media (min-width: @tablet-width) {
    min-height: 809px;
  }

  @media (min-width: @desktop-width) {
    min-height: 499px;
    padding-top: 82px;
  }
}

.promo__container-text {
  padding: 27px 35px;
  min-height: 302px;
  background: linear-gradient(fade(@base-color, 85%), fade(@base-color, 85%)), url("../img/main-promo-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: @tablet-width) {
    width: 600px;
    min-height: auto;
    margin-bottom: 50px;
    padding: 0 0 0 118px;
    background: none;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 0 80px;
  }
}

.promo__slogan {
  margin: 25px 0 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    margin: 41px 0 20px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
}

.promo__image {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  width: 280px;
  height: 270px;
  margin: auto;

  @media (min-width: @tablet-width) {
    bottom: 0;
    width: 709px;
    height: 609px;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    top: 0;
    left: 455px;
    width: 552px;
    height: 499px;
    z-index: 1;
  }
}

.promo__container-button {
  padding: 138px 20px 20px;

  @media (min-width: @tablet-width) {
    padding: 0 0 0 120px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 0 80px;
  }
}

.promo__button {
  @media (min-width: @tablet-width) {
    width: 244px;
  }
}
