.promo {
  text-align: center;
}

.promo__container {
  padding: 27px 35px;
  min-height: 302px;
  background: linear-gradient(to left, fade(@base-color, 85%), fade(@base-color, 85%)), url("../img/promo-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.promo__container-button {
  padding-top: 138px;
}
