.statistics__container {
  width: 40%;
  height: 56px;
  border: 1px solid #cdcdcd;
  text-align: center;
}

.statistics__term {
  padding: 15px 10px;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.statistics__description {
  transform: translateY(-8px);
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  background-color: #eaeaea;
}
